.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project

.gradle/
build/
out/
gradle-app.setting
.gradletasknamecache

run/
runs/
run-data/
crash-reports/
logs/
saves/
screenshots/
config/
mods/

usercache.json
usernamecache.json
options.txt
optionsof.txt

.DS_Store
Thumbs.db
desktop.ini

!gradle-wrapper.jar
